.mod-frame{
    width: 1220px;
    margin: 40px auto 50px;
    box-shadow: 0 0 3px 3px #ccc;
    background: #fff;
    padding: 24px 40px;
    min-height: 700px;
}
.mod-frame .mod-header{
    width: 100%;
    border-bottom: 1px solid #efefef;
    position: relative;
}

.mod-frame .mod-header .title{
    font-size: 30px;
    color: #000;
    font-weight: bold;
}

.mod-frame .mod-header .description{
    font-size: 14px;
    color: #999;
    padding: 10px 0 20px;
}

.mod-frame .mod-header .input-group{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 250px;
}


/* 右边分类 */
.mod-ctn .classify{
    float: right;
    width: 290px;
    margin: 20px 0 0 0;
}

.mod-ctn .classify a{
    width: 100%;
    height: 46px;
    line-height: 46px;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background: #f69581;
    padding: 0 20px;
    box-sizing: border-box;
    cursor: pointer;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin-bottom: 10px;
}