.mod-frame{
    width: 1220px;
    margin: 40px auto 50px;
    box-shadow: 0 0 3px 3px #ccc;
    background: #fff;
    padding: 24px 40px;
    min-height: 700px;
}
.mod-frame .mod-header{
    width: 100%;
    border-bottom: 1px solid #efefef;
    position: relative;
}

.mod-frame .mod-header .title{
    font-size: 26px;
    color: #515151;
    font-weight: bold;
    font-family: "Open Sans", Helvetica, Arial, sans-serif
}

.mod-frame .mod-header .description{
    font-size: 14px;
    color: #999;
    padding: 10px 0 20px;
}

.mod-frame .mod-header .input-group{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 250px;
}


/* 右边分类 */
.mod-ctn .classify{
    float: right;
    width: 290px;
    margin: 20px 0 0 0;
}
.mod-ctn .classify li{
    width: 100%;
    color: #999;
    font-size: 14px;
    box-sizing: border-box
}
.mod-ctn .classify li.title{
    padding: 10px 0;
    color: #636363;
    font-size: 15px;
    font-weight: 600
}
