.mod-ctn{
    width: 100%;
    overflow: hidden;
}

.mod-ctn .list{
    float: left;
    width: 746px;
}

.mod-ctn .list li{
    width: 100%;
    border-bottom: 1px solid #efefef;
    position: relative;
    height: 140px;
    padding: 20px 0;
}

.mod-ctn .list li .title{
    width: 100%;
    font-size: 22px;
    padding-bottom: 10px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    color: #21759b;
}

.mod-ctn .list li .describe{
    width: 100%;
    line-height: 20px;
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    color: #666;
}

.mod-ctn .list li.hasPic .title,.mod-ctn .list li.hasPic .describe{
    width: 480px;
}

.mod-ctn .list li.hasPic .pic{
    width: 122px;
    height: 98px;
    position: absolute;
    right: 0;
    top: 22px;
}

.mod-ctn .list li.hasPic .pic img{
    display: block;
    width: 100%;
    height: 100%;
}

.mod-ctn .list li .zan{
    width: 100%;
    color: #999;
    padding: 8px 0;
    font-size: 12px
}

.mod-ctn .list li .zan .publish{
    padding: 0
}

.mod-ctn .list li .zan .clss{
    padding-left: 10px
}

