.mod-ctn{
    width: 100%;
    overflow: hidden;
}
.mod-ctn .leftcn{
    float: left;
    width: 746px;
}
.mod-ctn .title{
    width: 100%;
    font-size: 28px;
    padding: 25px 0 18px;
    font-weight: bolder;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    color: #333;
}

.mod-ctn .authorInfo{
    width: 100%;
    font-size: 12px;
    padding-bottom: 5px;
    color: #666;
}
.mod-ctn .picture{
    margin: 10px auto;
    width: 700px;
    background: #999;
}

.mod-ctn .picture img{
    display: block;
    width: 100%;
}

.mod-ctn .content{
    margin-top: 20px;
    border-top: 1px solid #999;
    padding-top:20px; 
    width: 100%;
}
